In [2]:
import pandas as pd
df = pd.read_csv('/Users/vahma/Documents/Datasets/titanic.csv')

1. What is the total number of people on the titanic and how many of them survived and how many did not?

In [3]:
df.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

2. How many that survived were female and how may that died were female?

In [4]:
print('{} women survived and {} died'.format(len(df.query('Sex == "female" & Survived == 1')),len(df.query('Sex == "female" & Survived == 0'))))

233 women survived and 81 died

3. How many children were on the titanic? (Children under 17)

In [5]:
print('{} children were on the titanic'.format(len(df.query('Age < 17'))))

100 children were on the titanic

4. How many children died were on the ship?

In [6]:
print('{} children died'.format(len(df.query('Age < 17 & Survived == 0'))))

45 children died

5. How many people had families with them?

In [7]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1
print('{} people were with family'.format(len(df.query('FamilySize != 1'))))

354 people were with family

6. What is the ratio of female to male?

In [23]:
print('The ratio men, women is {} %'.format(round(df.Sex.value_counts()[1]/(df.Sex.value_counts()[0]+df.Sex.value_counts()[1])*100,2)))

The ratio men, women is 35.24 %

7. What contributed to the survival of those who survived?

In [24]:
df.Sex = pd.get_dummies(df.Sex)

In [25]:
def get_title(name):
    import re
    title_search = re.search(' ([A-Za-z]+)\.', name) 
    if title_search:
        return title_search.group(1)
    return ""

In [26]:
df['Title'] = df['Name'].apply(get_title)

In [27]:
df['Name_length'] = df['Name'].apply(len)

In [28]:
df['Has_Cabin'] = df["Cabin"].apply(lambda x: 0 if type(x) == float else 1)

In [8]:
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp', 'Parch']
df = df.drop(drop_elements, axis = 1)

In [10]:
df['Embarked'] = pd.get_dummies(df['Embarked'])

In [11]:
df.head()

   Survived  Pclass     Sex   Age     Fare  Embarked  FamilySize
0         0       3    male  22.0   7.2500         0           2
1         1       1  female  38.0  71.2833         1           2
2         1       3  female  26.0   7.9250         0           1
3         1       1  female  35.0  53.1000         0           2
4         0       3    male  35.0   8.0500         0           1

In [12]:
a = df.corr()

In [13]:
import seaborn as sns
sns.heatmap(a, annot= True)